/****** Object:  Table [dbo].[Customers]    Script Date: 18.08.2025 11:12:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[Id] [uniqueidentifier] NOT NULL,
	[FirstName] [nvarchar](100) NULL,
	[LastName] [nvarchar](100) NULL,
	[Age] [int] NULL,
 CONSTRAINT [PK_Customers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[Orders]    Script Date: 18.08.2025 11:12:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[Id] [uniqueidentifier] NOT NULL,
	[Date] [date] NOT NULL,
	[Product] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[Products]    Script Date: 18.08.2025 11:12:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Price] [float] NOT NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

INSERT [dbo].[Customers] ([Id], [FirstName], [LastName], [Age]) VALUES (N'c1626948-e041-4c12-9c29-0485d0ccbfa8', N'Alex', N'Iuga', 45)
GO
INSERT [dbo].[Customers] ([Id], [FirstName], [LastName], [Age]) VALUES (N'f60c8f2c-05b0-4ce3-8817-39366bc9ba8b', N'Gigi', N'Castravete', 30)
GO
INSERT [dbo].[Orders] ([Id], [Date], [Product]) VALUES (N'2a103878-2671-4927-b334-5e43602bd1b1', CAST(N'2025-08-01' AS Date), N'a7d182dc-b5ee-43de-b947-7247d69a2522')
GO
INSERT [dbo].[Products] ([Id], [Name], [Price]) VALUES (N'f6120aef-b741-4cbc-8fc4-19dbfe951699', N'Banana', 7.5)
GO
INSERT [dbo].[Products] ([Id], [Name], [Price]) VALUES (N'a4e73547-9c36-4f38-8a50-5cd732fe0049', N'Still Water', 5.2)
GO
INSERT [dbo].[Products] ([Id], [Name], [Price]) VALUES (N'a7d182dc-b5ee-43de-b947-7247d69a2522', N'Chocolate', 12)
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Products] FOREIGN KEY([Product])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Products]
GO
